.toggle {
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  height: 50px;
  animation: toggle 0.7s ease;
  height: auto;
  .header {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(100, 100, 100, 0.9);
    .title {
      display: flex;
      align-items: center;
      font-size: 1.3em;
      font-weight: bold;
      padding: 10px;
    }
    .click_btn {
      display: flex;
      margin-left: auto;
      border: 0;
      outline: none;
      background-color: inherit;
      color: #fff;
      font-size: 1.5em;
    }
  }
  .wrapper:hover {
    background-color: #242424;
  }
  .content_wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
    margin: 5px;
    .content1 {
      padding: 3px 1px;
      width: 100%;
      display: flex;
      justify-content: center;
      .month_wrapper {
        list-style: none;
        display: grid;
        gap: 5px;
        padding: 1px 0;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
      }
      .teams_wrapper {
        list-style: none;
        display: grid;
        gap: 5px;
        padding: 1px 0;
        margin: 0;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
