.item {
  color: #fff;
  .month {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    width: 70px;
    height: 50px;

    background-color: var(--gray-color-30);

    transition: all 0.5s ease-in-out;
  }

  .month:hover {
    background-color: var(--gray-color-10);
    transform: scale((1.1));
  }
}
