.item {
  color: #fff;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
  .month {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    background: var(--item-color);
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
}
.item:hover {
  border-radius: 10px;
  background-color: var(--hover-tab-color);
  transform: scale(1.1);
}
