/* DuoCards.module.scss */

$blue: #1b76d8;
$black: #141618;

.li_card {
  list-style: none;
  color: $black;

  .list_div_card {
    width: 400px;
    height: 400px;
    border: 1px solid blue;

    .div_time {
      p {
        font-size: 10px;
        color: $blue;
      }
    }

    .div_content {
      padding: 0 auto;

      h2 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
    }

    .div_info {
      padding: 0 auto;

      p {
        font-size: 16px;
      }
    }
  }
}