/* DuoCards.module.scss */

$blue: #1b76d8;
$black: #141618;
$bgColor-3: #31313c;
$fontColor-1: #f5fffa;
$fontColor-2: #c0c0c0;

.list {
  list-style: none;
  color: $black;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;

  .wrapper {
    width: 75vw;
    height: 10vh;
    display: flex;
    text-align: left;
    line-height: 10vh;
    background-color: $bgColor-3;

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3px;
      margin: 0 3px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    .user {
      width: 100px;
      padding: 0 10px;
      text-align: center;
      border-right: 1px solid black;

      p {
        font-size: 14px;
        color: $fontColor-2;
      }
    }

    .title {
      padding: 0 0 0 5px;
      width: 20vw;
      text-overflow: ellipsis;

      h3 {
        font-size: 23px;
        color: $fontColor-1;
      }
    }

    .memo {
      padding: 0 1px;
      width: 18vw;
      text-overflow: ellipsis;

      p {
        font-size: 14px;
        color: $fontColor-2;
      }
    }

    .champ {
      width: 10vw;

      p {
        font-size: 14px;
        color: $fontColor-2;
      }
    }

    .time {
      text-align: right;
      float: right;

      p {
        font-size: 11px;
        color: $blue;
      }
    }


  }
}