$bg-gray: #30333a;

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .article {
    width: 800px;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgba($bg-gray, 0.5);

  .title {
    font-size: 14px;
    color: white;

    .strong {
      font-size: 18px;
      font-weight: bold;
      color: lightcyan;
      text-shadow: 0px 0px 10px aqua;
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    // align-items: flex-start;

    .article {
      width: 100%;
    }

    .match {
      // width: 800px;
    }
  }
}
