$bg-gray: #30333a;

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .article {
    width: 800px;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);

  .title {
    // display: block;
    background-color: rgba($bg-gray, 0.5);
    font-size: 1.2rem;
    flex-wrap: wrap;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .strong {
      font-size: 1.5rem;
      font-weight: bold;
      color: lightcyan;
      text-shadow: 0px 0px 10px aqua;
    }
  }
}

@media screen and (max-width: 800px) {
  .section {
    // align-items: flex-start;

    .article {
      width: 100%;
    }

    .match {
      width: 100%;
    }
  }
}
