@import 'src/styles/global.scss';
.logo_wrapper {
  width: 100%;
  .logo_item {
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    background: var(--item-color);
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    .logo {
      width: 40px;
      height: 40px;
    }
  }
  .logo_item:hover {
    border-radius: 10px;
    background-color: var(--hover-tab-color);
    transform: scale(1.1);
  }
}
