@mixin responsive-slider {
  @media only screen and (min-width: 300px) and (max-width: 800px) {
    .slider_container {
      display: flex;
      align-items: center;
      .wrapper {
        width: 100%;
        height: 100%;
        padding: 3px;
        .team_slide {
          width: 100%;
          display: flex;
          flex-direction: row;
          .team_logo {
            padding: 5px;
            cursor: pointer;
            .img {
              width: 70px;
              height: 70px;
            }
            .teamName {
              color: #fff;
              font-size: 5px;
            }
          }
          .team_logo:hover {
            transform: scale(1.1);
            background-color: #eaeaea;
            .teamName {
              font-size: 5px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
