@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');
@import './responsive.module.scss';
.list_container {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  .list_wrapper {
    display: flex;
    justify-content: center;
    .list {
      width: 70%;
      height: 100%;
      margin-left: 50px;
    }
    .info_container {
      max-width: 300px;
      height: 100%;
      display: flex;
      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .team_info {
          color: var(--font-color);
          display: flex;
          align-items: center;
          .logo {
            max-width: 85px;
            max-height: 85px;
            .logo_img {
              width: 100%;
              height: 100%;
            }
          }
          .name {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@include playerList;
