@import "../../common.scss";

$blue: #1b76d8;
$black: #141618;
$dark: #333;
$indigo: #4b0082;
$white: #fff;
$iron: #696b5e;
$bronze: #624637;
$silver: #c0c0c0;
$gold: #ffd700;
$platinum: #20b2aa;
$dia: #4169e1;

input[type=radio] {
  display: none;
}

input[type=radio]+label {
  @include radio($dark, $white)
}

input[type=radio]:checked+label {
  @include radio_checked($dark, $white)
}

.iron+label {
  @include radio($iron, $white)
}

.iron:checked+label {
  @include radio_checked($iron, $white)
}

.bronze+label {
  @include radio($bronze, $white)
}

.bronze:checked+label {
  @include radio_checked($bronze, $white)
}

.silver+label {
  @include radio($silver, $white)
}

.silver:checked+label {
  @include radio_checked($silver, $white)
}

.gold+label {
  @include radio($gold, $white)
}

.gold:checked+label {
  @include radio_checked($gold, $black)
}

.platinum+label {
  @include radio($platinum, $white)
}

.platinum:checked+label {
  @include radio_checked($platinum, $white)
}

.dia+label {
  @include radio($dia, $white)
}

.dia:checked+label {
  @include radio_checked($dia, $white)
}