@import "./common.scss";

/* Duo.Module.scss */

$blue: #1b76d8;
$black: #141618;
$dark: #333;
$indigo: #4b0082;
$white: #fff;
$iron: #696b5e;
$bronze: #624637;
$silver: #c0c0c0;
$gold: #ffd700;
$platinum: #20b2aa;
$dia: #4169e1;
$bgColor-1: #1c1c1f;
$bgColor-2: #282830;
$bgColor-3: #f1f5f7;

main {
  background-color: $bgColor-1;
  height: 100%;
}

.duo_article {

  min-height: calc(100vh - 200px);
}

/* 듀오 카드 */
.section_card {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  min-height: calc(100vh - 200px);

  .div_card {
    width: 99vw;
    height: 99vh;

    .ul_card {
      background-color: $bgColor-2;
      padding: 20px 30px;
    }
  }
}

.wrapper {
  width: 44vw;
  padding: auto;
  margin: 15px auto;
  background-color: $bgColor-3;

}

.select_queue {
  padding: 15px 10px;

  input[type=radio] {
    display: none;

  }

  input[type=radio]+label {
    @include radio($dark, $white)
  }

  input[type=radio]:checked+label {
    @include radio_checked($dark, $white)
  }
}

.select_tier {
  padding: 15px 10px;

  input[type=radio] {
    display: none;
  }

  .iron+label {
    @include radio($iron, $white)
  }

  .iron:checked+label {
    @include radio_checked($iron, $white)
  }

  .bronze+label {
    @include radio($bronze, $white)
  }

  .bronze:checked+label {
    @include radio_checked($bronze, $white)
  }

  .silver+label {
    @include radio($silver, $white)
  }

  .silver:checked+label {
    @include radio_checked($silver, $white)
  }

  .gold+label {
    @include radio($gold, $white)
  }

  .gold:checked+label {
    @include radio_checked($gold, $black)
  }

  .platinum+label {
    @include radio($platinum, $white)
  }

  .platinum:checked+label {
    @include radio_checked($platinum, $white)
  }

  .dia+label {
    @include radio($dia, $white)
  }

  .dia:checked+label {
    @include radio_checked($dia, $white)
  }
}

.select_position {
  padding: 15px 10px;

  input[type=radio] {
    display: none;
  }

  input[type=radio]+label {
    @include radio($indigo, $white)
  }

  input[type=radio]:checked+label {
    @include radio_checked($indigo, $white)
  }
}