.sidebar_container {
  margin: 0;
  position: sticky;
  right: 0;
  width: 28%;
  min-height: 100vh;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.6);
}

@media only screen and (max-width: 800px) {
  .sidebar_container {
    display: none;
  }
}
