@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@400;500;600&family=IBM+Plex+Sans+KR:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;

  @media screen and (max-width: 280px) {
    body {
      min-width: 280px;
    }
  }
}

:root {
  --border-width: 6px;

  --font-color: #fef4f4;
  --bg-color: #313131;
  --player-color: #222222;

  --main-tab-color: #383838;
  --tab-color: #3a3a3a;
  --tab-border-color: #5a5a5a;

  --hover-tab-color: #2a2a2a;
  --item-color: #525252;
}
