@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

$gray: #4c4e57;
$dark: #27282d;
$white: #ffffff;

.header {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100px;
  background-color: $dark;

  .h1 {
    display: flex;
    flex-grow: 1;
    flex-basis: 33%;
    color: $white;
    font: normal 3rem/1 'Righteous';
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .nav {
    display: flex;
    flex-grow: 1;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;

    .ul {
      display: flex;

      .li {
        font: bold 1.2rem/1 'sans-serif';
        margin: 20px;
        cursor: pointer;

        .a {
          color: $white;
          padding: 10px;
          white-space: nowrap;
        }

        .a:hover {
          background-color: $gray;
          border-radius: 10px;
        }
      }
    }
  }

  .article {
    display: flex;
    flex-grow: 2;
    flex-basis: 33%;
    justify-content: center;
    align-items: center;

    .inner {
      flex-basis: 400px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .header {
    display: block;
    padding: 20px 0;

    .h1 {
      font: normal 2rem/1 'Righteous';
    }

    .nav {
      justify-content: center;
      padding-top: 20px;

      .ul {
        .li {
          font: bold 16px/1 'sans-serif';
        }
      }
    }
  }

  .article {
    margin: 0 10px;
  }
}
