@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
@import './Lck_card_design.module.scss';
@import '../../styles/global.scss';
@import '../LCK/components/Team/responsive.module.scss';
/* LCK.Module.scss */

// https://walkthinksleep.tistory.com/entry/css-border-animation => border gradient

.container {
  @include container;
  .wrapper {
    @include gradient-wrapper;
    .border_gradient {
      background-color: var(--bg-color);
      border-radius: var(--border-width);
      display: flex;
      flex-direction: row;
      align-items: center;
      .lck_side {
        top: 10px;
        width: 500px;
        height: 100%;
        padding: 15px;
        .lck2023 {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          width: 100%;
          height: 100%;
        }
      }
      .card_container {
        @include card-container;
        background-color: inherit;

        .card {
          @include cardLayout;
          .link_page {
            transition: all 0.5s ease;
            width: 100%;
            text-decoration: none;
            color: var(--font-color);
            .title {
              font-weight: bolder;
              font-size: 40px;
              display: flex;
              margin-left: 30px;
            }
            &:hover {
              transform: translateX(10%);
            }
          }
          .riot_page {
            width: 100%;
            height: 100%;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@include responsive-main-page;
