@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
@import './common.scss';
/* LCK.Module.scss */
.container {
  @include container;

  .lck_nav {
    position: sticky;
    top: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    .title {
      font-size: 2em;
      color: rgb(247, 238, 216);
      padding: 2rem;
    }
  }
  .card_container {
    @include card-container;
    .team_container {
      margin: 3em 2em;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
      .link_team_page {
        @include category-page;
        .sohwansa {
          @include sohwansaImg;
        }
        .lck_team {
          @include category-view;
        }
      }
    }
    .match_container {
      position: relative;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
      .link_match_page {
        @include category-page;
        .sohwansa {
          @include sohwansaImg;
        }
        .lck_match {
          @include category-view;
        }
      }
    }
    .card {
      @include card-view;
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
  .container {
    .card_container {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      .team_container {
        height: 300px;
        .link_team_page {
          .lck_team {
            width: 100%;
          }
        }
      }
      .match_container {
        height: 300px;
      }
    }
  }
}
