@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&display=swap');
@import './common.scss';
@import './components/Team/responsive/responsive.module.scss';
/* LCK.Module.scss */
.container {
  @include container;

  .lck_nav {
    position: sticky;
    top: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    .title {
      font-size: 2em;
      color: rgb(247, 238, 216);
      padding: 2rem;
    }
  }
  .card_container {
    @include card-container;
    .team_container {
      margin: 3em 2em;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
      .link_team_page {
        @include category-page;
        .sohwansa {
          @include sohwansaImg;
        }
        .lck_team {
          @include category-view;
        }
      }
    }
    .match_container {
      position: relative;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
      .link_match_page {
        @include category-page;
        .sohwansa {
          @include sohwansaImg;
        }
        .lck_match {
          @include category-view;
        }
      }
    }
    .card {
      @include card-view;
    }
  }
}
@include responsive-main-page;
