/* Team.Module.scss */
@import './responsive.module.scss';
.container {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100vh;
  background: #222222;
  flex-direction: column;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;

  .Lck_bg::before {
    content: '';
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #000 0%, #00000000 100%);
    position: absolute;
  }
  .Lck_bg {
    display: flex;
    width: 100%;
    min-height: 500px;
    position: relative;
    .title {
      display: flex;
      width: 100%;
      margin-top: auto;
      padding: 0 0.5em;
      color: #fff;
      font-weight: boler;
      font-size: 5em;
    }
  }
  .slide {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    background: var(--bg-color);
  }

  .player_list {
    width: 100%;
    display: flex;
    margin: auto;
  }
}
.container::-webkit-scrollbar {
  width: 1px;
}

@include responsive-team;
