/* DuoCards.module.scss */

$blue: #1b76d8;
$black: #141618;
$bgColor-3: #31313c;
$fontColor-1: #f5fffa;
$fontColor-2: #c0c0c0;

.list {
  list-style: none;
  color: $black;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;

  .wrapper {
    width: 76vw;
    height: 10vh;
    display: flex;
    text-align: left;
    line-height: 10vh;
    background-color: $bgColor-3;

    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 3px;
      margin: 0 3px;

      img {
        width: 48px;
        height: 48px;
      }
    }

    .user {
      width: 100px;
      padding: 0 10px;
      text-align: center;
      border-right: 1px solid black;

      p {
        font-size: 14px;
        color: $fontColor-2;
      }
    }

    .title {
      padding: 0 0 0 5px;
      width: 20vw;
      overflow: hidden;

      h3 {
        font-size: 23px;
        color: $fontColor-1;
        text-overflow: ellipsis;
      }
    }

    .memo {
      padding: 0 1px;
      width: 18vw;
      overflow: hidden;

      p {
        font-size: 14px;
        color: $fontColor-2;
        text-overflow: ellipsis;
      }
    }

    .champ {
      width: 10vw;

      p {
        font-size: 14px;
        color: $fontColor-2;
      }
    }

    .time {
      text-align: right;
      float: right;

      p {
        font-size: 11px;
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: 515px) {
  .list {
    .wrapper {
      .user {
        width: 200px;
        padding: 0 10px;
        text-align: center;
        border: none;

        p {
          font-size: 18px;
        }
      }

      .title {
        width: 1px;
        visibility: hidden;
      }

      .memo {
        width: 1px;
        visibility: hidden;
      }

      .champ {
        width: 1px;
        visibility: hidden;
      }

      .time {
        width: 1px;
        visibility: hidden;
      }
    }
  }
}

@media screen and (min-width:516px) and (max-width: 786px) {
  .list {
    .wrapper {
      .user {
        width: 200px;
        padding: 0 10px;
        text-align: center;
        border: none;

        p {
          font-size: 20px;
        }
      }

      .title {
        text-align: center;
      }

      .memo {
        width: 1px;
        visibility: hidden;
      }

      .champ {
        width: 1px;
        visibility: hidden;
      }

      .time {
        width: 1px;
        visibility: hidden;
      }
    }
  }
}

@media screen and (min-width:787px) and (max-width: 1024px) {
  .list {
    .wrapper {

      .time {
        width: 1px;
        visibility: hidden;
      }
    }
  }
}

@media screen and (min-width: 1441px) {
  .list {
    .wrapper {
      .user {
        p {
          font-size: 12px;
        }
      }

      .title {
        h3 {
          font-size: 34px;
        }
      }

      .memo {
        p {
          font-size: 28px;
        }
      }

      .champ {
        p {
          font-size: 28px;
        }
      }

      .time {
        p {
          font-size: 14px;
        }
      }
    }
  }
}