@import "../../common.scss";

$bgColor-1: #1c1c1f;
$bgColor-2: #282830;
$fontColor: #f0f0f0;

.modal_div {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background-color: #f1f1f1;
  color: $fontColor;

  @include modal_wrapper(30%, 50%);

  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 20px 0 10px 0;
    color: black;
  }
}