.item_container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .match_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    .match_info {
      display: flex;
      align-items: center;
      .time {
        font-size: 20px;
        margin: 0px 10px;
        padding: 10px;
      }
      .stadium {
        margin: 10px;
        white-space: nowrap;
      }
      .state {
        margin-left: 10px;
        width: 100px;
      }
    }
    .play_team_container {
      display: flex;
      flex-direction: row;
      width: 100%;

      .team_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .card {
          font-size: 25px;
          display: flex;
          align-items: center;
          margin: 0 10px;
          .img_logo {
            width: 60px;
            height: 60px;
            display: flex;
          }
          .img_logo[alt='home'] {
            margin-left: auto;
          }
          .img_logo[alt='away'] {
            margin-right: auto;
          }
          .team_initial {
            white-space: nowrap;
            letter-spacing: -1px;
            margin-left: 10px;
            width: 50px;
          }
        }
        .score {
          display: flex;
          width: 100px;
          margin: 0 30px;
          .win {
            margin: 0 5px;
          }
          .verse {
            width: 50px;
            margin: 0 10px;
            text-align: center;
          }
        }
      }
    }
    .lck_btn_container {
      display: flex;
      align-items: center;
      text-decoration: none;
      .btnLayOut {
        text-align: center;
        width: 150px;
        .btn {
          margin: 0;
          width: auto;
          padding: 10px;
          border-radius: 5px;
          color: #ffffff;
          border: 1px solid #eaeaea;

          transition: all 0.2s ease-in-out;
        }
        .live_btn {
          margin: 0;
          width: auto;
          padding: 10px;
          border-radius: 5px;
          background-color: #fa6161;
          color: #ffffff;
          border: 1px solid #fa6161;

          transition: all 0.2s ease-in-out;
        }
        .replay_btn {
          margin: 0;
          width: auto;
          padding: 10px;
          border-radius: 5px;
          background-color: #5c6fef;
          color: #ffffff;
          border: 1px solid #5c6fef;

          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
