.schedule_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .schedule_list {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    animation: fade 0.6s ease-in;
    .schedules_item {
      margin-top: 10px;
      width: 100%;
      background-color: #222222;
      .date_info {
        background: #3f3e3e;
        padding: 10px 30px 10px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #565656;
        .date {
          margin-right: 5px;
        }
      }
      .item {
        width: 100%;
        background-color: #2d2d2d;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);

        .matches {
          display: flex;
          flex-direction: column;
          .match_card {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid #777777;
          }
        }
        @keyframes fade {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}
