.schedule_container {
  display: flex;
  width: 100vw;
  align-items: baseline;
  justify-content: center;
  transition: all 0.56s ease-in;
  margin: 0;
  .schedule_list {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin: 0;
    animation: fade 0.6s ease-in;
    .schedules_item {
      background-color: var(--main-tab-color);
      .date_info {
        width: 100%;
        background: var(--item-color);
        padding: 10px 5em 10px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
        .date {
          margin-right: 5px;
        }
      }
      .item {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #2d2d2d;
        box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
        .matches {
          display: flex;
          flex-direction: column;
          .match_card {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 10px 0;
            width: 100%;
          }
        }
        @keyframes fade {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}
