.container {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1px;
  }
  .header {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    background-color: #2e2e2e;

    border-bottom: 2px solid #434343;
    .filter_btn {
      outline: 0;
      border: 0;
      width: 100px;
      border-radius: 10px;
      margin-left: auto;
      background-color: #777777;
      color: #eaeaea;
    }
    .title {
      font-size: 3em;
      font-weight: bolder;
    }
  }
}
