.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: #fff;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 1px;
  }
  .header {
    width: 73%;
    padding: 20px 30px;
    margin: auto;
    display: flex;
    .filter_btn {
      outline: 0;
      border: 0;
      width: 100px;
      border-radius: 10px;
      margin-left: auto;
      background-color: var(--hover-tab-color);
      color: #eaeaea;
      .content {
        font-size: 20px;
      }
    }
    .title {
      font-size: 3em;
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 424px) {
  .container {
    .header {
      font-size: 10px;
      width: 100%;
      .filter_btn {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 425px) and (max-width: 1042px) {
  .container {
    .header {
      width: 100%;
      .filter_btn {
        display: none;
      }
    }
  }
}
