.container {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #3c4169;
  .team_slide {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    .team_logo {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      transition: all 0.5s ease;
      cursor: pointer;
      img {
        width: 5em;
        height: 5em;
      }
    }
    .team_logo:hover {
      transform: scale(1.2);
    }
  }
}
